
._Dell G5 USB MAPPING.jpg
._DSDT-Dell-G5-5590-RTX-2060.aml
._README.md
OPENCORE/EFI/OC/._.DS_Store
OPENCORE/EFI/OC/._OpenCore.efi
OPENCORE/EFI/OC/._config.plist
OPENCORE/EFI/OC/._Resources
OPENCORE/EFI/OC/.DS_Store
UTIL/SCREENSHOTS PROOFS/._Geekbench 5 Results.png
UTIL/SCREENSHOTS PROOFS/._HVEC Encoding Support.png
UTIL/SCREENSHOTS PROOFS/._Idle without CPU Friend.png
UTIL/SCREENSHOTS PROOFS/._NVMe DISK Speed Test.png
OPENCORE/EFI/OC/ACPI/._SSDT-dGPU-Off.aml
OPENCORE/EFI/OC/ACPI/._SSDT-EC-USBX.aml
OPENCORE/EFI/OC/ACPI/._SSDT-RHUB.aml
OPENCORE/EFI/OC/ACPI/._SSDT-dGPU-Off.aml
OPENCORE/EFI/OC/ACPI/._SSDT-EC-USBX.aml
OPENCORE/EFI/OC/ACPI/._SSDT-dGPU-Off.aml
OPENCORE/EFI/OC/ACPI/._SSDT-EC-USBX.aml
OPENCORE/EFI/OC/ACPI/._SSDT-dGPU-Off.aml
OPENCORE/EFI/OC/ACPI/._SSDT-dGPU-Off.aml
OPENCORE/EFI/OC/ACPI/._SSDT-EC-USBX.aml
OPENCORE/EFI/OC/ACPI/._SSDT-UIAC.aml
OPENCORE/EFI/OC/Kexts/._USBInjectAll.kext
OPENCORE/EFI/OC/Kexts/USBInjectAll.kext/._Contents
OPENCORE/EFI/OC/Kexts/USBInjectAll.kext/Contents/._Info.plist
OPENCORE/EFI/OC/Kexts/USBInjectAll.kext/Contents/._MacOS
OPENCORE/EFI/OC/Kexts/USBInjectAll.kext/Contents/MacOS/._USBInjectAll
OPENCORE/EFI/OC/Kexts/._NVMeFix.kext
OPENCORE/EFI/OC/Kexts/NVMeFix.kext/._Contents
OPENCORE/EFI/OC/Kexts/NVMeFix.kext/Contents/._MacOS
OPENCORE/EFI/OC/Kexts/NVMeFix.kext/Contents/._Info.plist
OPENCORE/EFI/OC/Kexts/NVMeFix.kext/Contents/MacOS/._NVMeFix
UTIL/OPENCORE DEBUG/._opencore-2020-07-20-211524.txt
UTIL/OPENCORE DEBUG/EFI/._.DS_Store
UTIL/OPENCORE DEBUG/EFI/.DS_Store
UTIL/OPENCORE DEBUG/EFI/BOOT/._BOOTx64.efi
UTIL/OPENCORE DEBUG/EFI/Dell/logs/diags_current.xml
UTIL/OPENCORE DEBUG/EFI/Dell/logs/diags_previous.xml
UTIL/OPENCORE DEBUG/EFI/OC/._.DS_Store
UTIL/OPENCORE DEBUG/EFI/OC/._config.plist
UTIL/OPENCORE DEBUG/EFI/OC/._OpenCore.efi
UTIL/OPENCORE DEBUG/EFI/OC/._Resources
UTIL/OPENCORE DEBUG/EFI/OC/.DS_Store
UTIL/OPENCORE DEBUG/EFI/OC/ACPI/._SSDT-EC-USBX.aml
UTIL/OPENCORE DEBUG/EFI/OC/ACPI/._SSDT-GPI0.aml
UTIL/OPENCORE DEBUG/EFI/OC/ACPI/._SSDT-NoHybGfx.aml
UTIL/OPENCORE DEBUG/EFI/OC/ACPI/._SSDT-PLUG.aml
UTIL/OPENCORE DEBUG/EFI/OC/ACPI/._SSDT-PNLF-CFL.aml
UTIL/OPENCORE DEBUG/EFI/OC/ACPI/._ssdt-rmne.aml
UTIL/OPENCORE DEBUG/EFI/OC/ACPI/._SSDT-UIAC.aml
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._AppleALC.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._Lilu.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._NoTouchID.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._NullEthernet.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._NVMeFix.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._SMCBatteryManager.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._SMCProcessor.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._USBInjectAll.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._VirtualSMC.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._VoodooI2C.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._VoodooI2CHID.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._VoodooPS2Controller.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._WhateverGreen.kext
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/.DS_Store
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/AppleALC.kext/._Contents
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/AppleALC.kext/Contents/._Info.plist
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/AppleALC.kext/Contents/._MacOS
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/AppleALC.kext/Contents/MacOS/._AppleALC
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/USBInjectAll.kext/Contents/._MacOS
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/USBInjectAll.kext/Contents/._Info.plist
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/USBInjectAll.kext/._Contents
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/SMCProcessor.kext/Contents/MacOS/._SMCProcessor
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/SMCProcessor.kext/Contents/._MacOS
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/SMCProcessor.kext/Contents/._Info.plist
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/SMCProcessor.kext/._Contents
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/SMCBatteryManager.kext/Contents/MacOS/._SMCBatteryManager
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/SMCBatteryManager.kext/Contents/._MacOS
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/SMCBatteryManager.kext/Contents/._Info.plist
UTIL/OPENCORE DEBUG/EFI/OC/Bootstrap/._Bootstrap.efi
UTIL/OPENCORE DEBUG/EFI/OC/Drivers/._.DS_Store
UTIL/OPENCORE DEBUG/EFI/OC/Drivers/._HfsPlus.efi
UTIL/OPENCORE DEBUG/EFI/OC/Drivers/._OpenCanopy.efi
UTIL/OPENCORE DEBUG/EFI/OC/Drivers/._OpenRuntime.efi
UTIL/OPENCORE DEBUG/EFI/OC/Drivers/.DS_Store
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/._.DS_Store
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/Lilu.kext/._Contents
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/Lilu.kext/Contents/._Info.plist
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/Lilu.kext/Contents/._MacOS
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/Lilu.kext/Contents/MacOS/._Lilu
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NoTouchID.kext/._Contents
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NoTouchID.kext/Contents/.__CodeSignature
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NoTouchID.kext/Contents/._Info.plist
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NoTouchID.kext/Contents/._MacOS
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NoTouchID.kext/Contents/_CodeSignature/._CodeResources
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NoTouchID.kext/Contents/MacOS/._NoTouchID
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NullEthernet.kext/._Contents
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NullEthernet.kext/Contents/._Info.plist
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NullEthernet.kext/Contents/._MacOS
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NullEthernet.kext/Contents/MacOS/._NullEthernet
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NVMeFix.kext/._Contents
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NVMeFix.kext/Contents/._Info.plist
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NVMeFix.kext/Contents/._MacOS
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/NVMeFix.kext/Contents/MacOS/._NVMeFix
UTIL/OPENCORE DEBUG/EFI/OC/Kexts/SMCBatteryManager.kext/._Contents
OPENCORE/EFI/OC/Kexts/._SMCBatteryManager.kext
OPENCORE/EFI/OC/Kexts/._SMCDellSensors.kext
OPENCORE/EFI/OC/Kexts/._SMCProcessor.kext
OPENCORE/EFI/OC/Kexts/._VirtualSMC.kext
OPENCORE/EFI/OC/Kexts/SMCBatteryManager.kext/._Contents
OPENCORE/EFI/OC/Kexts/SMCBatteryManager.kext/Contents/.__CodeSignature
OPENCORE/EFI/OC/Kexts/SMCBatteryManager.kext/Contents/._Info.plist
OPENCORE/EFI/OC/Kexts/SMCBatteryManager.kext/Contents/._MacOS
OPENCORE/EFI/OC/Kexts/SMCBatteryManager.kext/Contents/._Resources
OPENCORE/EFI/OC/Kexts/SMCBatteryManager.kext/Contents/_CodeSignature/._CodeResources
OPENCORE/EFI/OC/Kexts/SMCBatteryManager.kext/Contents/MacOS/._SMCBatteryManager
OPENCORE/EFI/OC/Kexts/SMCBatteryManager.kext/Contents/Resources/._SSDT-BATC.dsl
OPENCORE/EFI/OC/Kexts/SMCDellSensors.kext/._Contents
OPENCORE/EFI/OC/Kexts/SMCDellSensors.kext/Contents/.__CodeSignature
OPENCORE/EFI/OC/Kexts/SMCDellSensors.kext/Contents/._Info.plist
OPENCORE/EFI/OC/Kexts/SMCDellSensors.kext/Contents/._MacOS
OPENCORE/EFI/OC/Kexts/SMCDellSensors.kext/Contents/_CodeSignature/._CodeResources
OPENCORE/EFI/OC/Kexts/SMCDellSensors.kext/Contents/MacOS/._SMCDellSensors
OPENCORE/EFI/OC/Kexts/SMCProcessor.kext/._Contents
OPENCORE/EFI/OC/Kexts/SMCProcessor.kext/Contents/.__CodeSignature
OPENCORE/EFI/OC/Kexts/SMCProcessor.kext/Contents/._Info.plist
OPENCORE/EFI/OC/Kexts/SMCProcessor.kext/Contents/._MacOS
OPENCORE/EFI/OC/Kexts/SMCProcessor.kext/Contents/_CodeSignature/._CodeResources
OPENCORE/EFI/OC/Kexts/SMCProcessor.kext/Contents/MacOS/._SMCProcessor
OPENCORE/EFI/OC/Kexts/VirtualSMC.kext/._Contents
OPENCORE/EFI/OC/Kexts/VirtualSMC.kext/Contents/.__CodeSignature
OPENCORE/EFI/OC/Kexts/VirtualSMC.kext/Contents/._Info.plist
OPENCORE/EFI/OC/Kexts/VirtualSMC.kext/Contents/._MacOS
OPENCORE/EFI/OC/Kexts/VirtualSMC.kext/Contents/_CodeSignature/._CodeResources
OPENCORE/EFI/OC/Kexts/VirtualSMC.kext/Contents/MacOS/._VirtualSMC
OPENCORE/EFI/OC/Drivers/._OpenRuntime.efi
OPENCORE/EFI/OC/Kexts/._Lilu.kext
OPENCORE/EFI/OC/Kexts/._RealtekRTL8111.kext
OPENCORE/EFI/OC/Kexts/._SMCBatteryManager.kext
OPENCORE/EFI/OC/Kexts/._SMCProcessor.kext
OPENCORE/EFI/OC/Kexts/._VirtualSMC.kext
OPENCORE/EFI/OC/Kexts/._VoodooPS2Controller.kext
OPENCORE/EFI/OC/Kexts/._WhateverGreen.kext
OPENCORE/EFI/OC/Kexts/.DS_Store
OPENCORE/EFI/OC/Kexts/Lilu.kext/._Contents
OPENCORE/EFI/OC/Kexts/Lilu.kext/Contents/._Info.plist
OPENCORE/EFI/OC/Kexts/Lilu.kext/Contents/._MacOS
OPENCORE/EFI/OC/Kexts/Lilu.kext/Contents/MacOS/._Lilu
OPENCORE/EFI/OC/Kexts/RealtekRTL8111.kext/._Contents
OPENCORE/EFI/OC/Kexts/RealtekRTL8111.kext/Contents/._Info.plist
OPENCORE/EFI/OC/Kexts/RealtekRTL8111.kext/Contents/._MacOS
OPENCORE/EFI/OC/Kexts/RealtekRTL8111.kext/Contents/._Resources
OPENCORE/EFI/OC/Kexts/RealtekRTL8111.kext/Contents/MacOS/._RealtekRTL8111
OPENCORE/EFI/OC/Tools/._OpenShell.efi
